@import '../../resources/scss/mixins';

.tags {
  @include row-ul();
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 10px;

  .tag-wrapper {
    margin-bottom: 0;
    margin-left: 10px;

    .tag {
    }
  }
}
