@import '../../resources/scss/mixins';

.tag-nav {
  @include content-box();

  .tag-nav-header {
    font-size: 1.2rem;
    border-bottom: 1px solid $decoration-color;
    line-height: 1.5rem;
    padding-bottom: 10px;
  }

  .tag-link-list {
    list-style: none;

    .tag-link-wrapper {

      .tag-link {
      }
    }
  }
}
